<nav class="grid grid-cols-[100px_1fr] lg:grid-cols-[21%_1fr_21%] min-h-[64px]">
    <ul class="flex-wrap gap-3.5 lg:gap-4 xl:gap-6 self-center hidden lg:flex">
        <li>
            <a class="text-gray-900 transition-colors hover:text-primary dark:text-white dark:hover:text-primary"
                href="https://www.facebook.com/danfisher.dev/" title="Facebook"><svg class="w-3.5 xl:w-4 aspect-square"
                    fill="currentColor">
                    <use xlink:href="assets/img/social-icons.svg#facebook"></use>
                </svg></a>
        </li>
    </ul>

    <div class="grid lg:grid-cols-[1fr_110px_1fr] xl:grid-cols-[1fr_150px_1fr] items-center">
        <!-- Navigation (Desktop) -->
        <ul class="hidden lg:gap-x-5 xl:gap-x-8 text-gray-900 dark:text-white lg:text-sm xl:text-base font-bold uppercase tracking-tight lg:flex min-[1260px]:gap-x-10 justify-self-end">

            {% for item in site.data.navbar limit:3 offset:0 %}
            <li class="">
                <a
                    class="relative inline-flex leading-10 transition-colors after:absolute after:bottom-[7px] after:left-0 after:h-[2px] after:transition-transform after:w-full after:origin-left after:scale-x-100 text-primary after:bg-primary"
                    href="{{item.link}}">
                    {{item.title}}
                </a></li>
            {% endfor %}
        </ul>
        <!-- Navigation (Desktop) / End -->
        <!-- Logo -->
            <div class="lg:mx-auto">
                <a href="/">
                    <div class="relative inline-flex aspect-square w-11 items-center justify-center overflow-hidden rounded-full bg-primary lg:w-[50px]">
                    <svg class="relative aspect-[37/36] w-6 fill-white lg:w-[26px]" viewBox="0 0 37 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M17 16L15 29.001L27 10.001H21L27.363 0H37L25 36H13L0 0H13L11 16H17Z"></path>
                    </svg></div>
                </a>
        </div>
        <!-- Logo / End -->
        <!-- Navigation (Desktop) -->
        <ul class="hidden lg:gap-x-5 xl:gap-x-8 text-gray-900 dark:text-white lg:text-sm xl:text-base font-bold uppercase tracking-tight lg:flex min-[1260px]:gap-x-10">

            {% for item in site.data.navbar limit:3 offset:3 %}
            <li class="">
                <a
                    class="relative inline-flex leading-10 transition-colors after:absolute after:bottom-[7px] after:left-0 after:h-[2px] after:transition-transform after:w-full after:origin-left after:scale-x-100 text-primary after:bg-primary"
                    href="{{item.link}}">
                    {{item.title}}
                </a></li>
            {% endfor %}
        </ul>
        <!-- Navigation (Desktop) / End -->
        
    </div>
</nav>